/*Will able to everything as a default*/
body{

}

/*IDs in css begin with a hashtag*/
#c1header{
    width: 500px;
    height: 300px;
    color: grey;
}
#c1footer{
    width: 500px;
    height: 300px;
    color: black;    
}

/*CLASSES in css begin with a dot*/
.classWidth{
    width: 100px;
}
.classHeight{
    height: 100px;
}
.classGreen{
    background-color: green;
}
.classBlue{
    background-color: blue;
}
.classRed{
    background-color: red;
}