/*Will able to everything as a default*/
body{

}


/*IDs in css begin with a hashtag*/
#c1header{
    width: 500px;
    height: 300px;
    background-color: grey;
}
#c1footer{
    width: 500px;
    height: 300px;
    background-color: black;    
}
#c2header{
    width: 100%;
    height: 100px;
    background-color: grey;
}
#c3article{
    width: 400px;
    padding: 8px;
    border: 8px solid black;
    border-radius: 4px;

}

/*CLASSES in css begin with a dot*/
.classWidth{
    float:left;
    width: 500px;
}
.classHeight{
    height: 100px;
}
.classGreen{
    background-color: green;
}
.classBlue{
    background-color: blue;
}
.classRed{
    background-color: red;
}
.c2height{
    height: 200px;
}
.c2width25{
    float:left;
    width: 25%;
}
.c2width33{
    float:left;
    width: 33.33%;
}
.c2width50{

    float:left;
    width: 50%;
}
.c2width66{
    float:left;
    width: 66.66%;
}
.c2width75{
    float:left;
    width: 75%;
}
.c2red{
    background-color: red;
}
.c2blue{
    background-color: blue;
}
.c2black{
    background-color: black
}
.c2height100{
    height: 100px
}
.c2width100{
    width: 100%
}
.c3margin{
    margin: 0;
}
.c3imgWidth{
    width: 400px;
}
