/*Will able to everything as a default*/
body{

}

/*IDs in css begin with a hashtag*/
#c1header{
    width: 500px;
    height: 300px;
    color: grey;
}
#c1footer{
    width: 500px;
    height: 300px;
    color: black;    
}
#c1section{
    height: 100px;
    color: green;
    color: blue;
    color: red;
}

/*CLASSES in css begin with a dot*/
.classname{
    .class1{
        
    }
}
